

html  {}
#doc3 {background-color: #fff8dc;}

#wrap1 {display: block;}
#hd, #ft {margin: 2em; padding-top: 2em;}
#ft {padding-bottom: 1em;}
#bd div.yui-g {margin: 2em;}
p {margin-top: .5em;}
#loading {position: absolute;
			left: 40%;
			top: 180px;
			}


.footnotes {
    background: #eee;
    padding: 0.25em;
}

.controls {
    margin: 1em 0;
    padding: 0.5em;
}

.timeline-default {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    border: 1px solid #aaa;
}

.tape-special_event, .small-special_event { background-color: orange; }


/*from @import url("http://www.simile-widgets.org/styles/common.css");*/
/* ----------------------------- Base ---------------------------- */

html {
    font-size: 62.5%;
}

body {
    margin:             0px;
    padding:            0px;
    background-color:   #fff;
    color:              #222;
    font-family:        "Lucida Grande", "Tahoma", "Helvetica", "Arial", sans-serif;
    font-size:          120%;
    quotes:             "\201C" "\201E" "\2018" "\2019";
}

table, tr, td {
    font-size: inherit;
}

tr, td {
    vertical-align: top;
}

a:link {
	color: #222;
}

a:visited {
	color: #666;
}

a:hover {
	color: #000;
}

a:active {
}

a:focus {
}

img, a img {
    border: none;
}

/* ----------------------------- Path ---------------------------- */

#path {
    color: #333;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 3px 8px;
    margin: 0px;
}

#path li {
    display: inline;
    padding-left: 13px;
    padding-right: 3px;
    background-image: url(icons/arrow.gif);
    background-repeat: no-repeat;
    background-position: 1px 5px;
}

#path span {
    font-weight: bold;
}

/* ----------------------------- Header ---------------------------- */

#header {
    margin: 10px 20px;
    background-color: #A7EFB0;
}

#header h1 {
    font-size: 14pt;
    color: #222;
    margin: 0;
    margin-bottom: 6px;
}

#header h2 {
    font-size: 120%;
    color: #aaa;
    margin: 0;
}

/* ----------------------------- Content ---------------------------- */

#content {
    margin: 24px 48px;
}

/* ----------------------------- Footer ---------------------------- */

#footer {
    margin-top: 48px;
    border-top: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    color: #888;
    font-size: 80%;
}

#footer a {
    color: #888;
}

/* ----------------------------- Path ---------------------------- */

table.spaced-table {
    border-collapse: collapse;
}

table.spaced-table td {
    padding: 0;
    padding-left: 1em;
}

table.spaced-table td:first-child {
    padding-left: 0;
}

table.spaced-table tr td {
    padding-top: 1em;
}

table.spaced-table tr:first-child td {
    padding-top: 0;
}

/* ------  additional local custom settings -----*/
div.timeline-event-icon {
            border: 1px solid #aaa;
            padding: 1px;
        }
        div.timeline-event-icon-default {
            border: none;
            padding: 0px;
        }